.body{
    background-color: #dadada;
}
.game-header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    font-weight: bold;
}
.bating-phase{

}
.racing-phase{
    display:none;
}

.game-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #3a1b01;
    padding: 10px;
    border:none;
}

.horse-track{
    width: 100%;
    height: 10vh;
    background-image: url('/animation/grass2.jpg');
    background-repeat: repeat-x;
    background-size: contain;
}

.horse-gif{
    height:100%;
}

.player-menu, .balance-info, .betting form{
    display: flex;
    flex-direction: row;
}
.player-menu{
    align-items: center;
    justify-content: center;
    margin:20px 0 20px 0;
    font-size : 20px;
    background-color: rgb(46, 45, 45);
    padding: 0 10px 0 10px;
    color: #dadada;
    margin: 20px 0 0 0;
    padding-top: 10px;
}

.balance-info{
    margin-right: 15px;
}

.bet-value-input{
    margin: 0 10px 0 10px;
}
.horse-select{
    margin: 0 10px 0 10px;
}
.betting{
    margin: 0 0 0 10px;
}
.bet-value-input{
    background-color: rgb(46, 45, 45);
    border: none;
    color: #dadada;
    font-family: Pixelify Sans, sans-serif;
    font-size: 20px;
    width: fit-content;

}
.bet-value-input:focus{
    outline: none;
}
.player-menu p, .player-menu pre{
    margin:0;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 select{
     background-color: #2e2d2d;
     border: none;
     color: #dadada;
     font-family: Pixelify Sans, sans-serif;
     font-size: 20px;
 }
 select:focus{
     outline: none;
 }
 .bet-value-button{
     background-color: #2e2d2d;
     color: #dadada;
     font-family: Pixelify Sans, sans-serif;
     font-size: 20px;
     padding: 5px 10px 5px 10px;
 }


.players-list{
    background-color: rgb(46, 45, 45);
    color: #dadada;
    margin-top: 0;
    padding-top: 10px;
}
.players-list-header{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.players-list-body{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    padding: 10px;
}
.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 60, 60);
}
.player-name{
    margin-bottom: 0px;
    font-size: 18px;
}

.player-bet-horse{
    margin-bottom: 0px;
}
.player-bet-value{
    margin-top: 5px;
}
